<div>
    <h2>Real time products</h2>
    <p><b>Aquí podrás utilizar los métodos GET, POST, DELETE y PUT declarados en "ProductsRoutes" a través de POSTMAN o THUNDER CLIENT y ver como se modifica la lista de productos en tiempo real.</b></p>
</div>
<section id="realProdSect">
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>